<div>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title> Template Form </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!-- ngForm = ajude-nos a gerenciar o formulario -->
            <!-- (ngSubmit) = binding de funcao que sera executada no submit -->
            <form #meuForm="ngForm" (ngSubmit)="onSubmit (meuForm);">

                <!-- ngModel = adiciona campo ao ngForm -->

                <!-- nome -->
                <mat-form-field class="field-full-width" color="accent">
                    <mat-label> Nome: </mat-label>
                    <input type="text" name="nome" matInput required [ngModel]="usuario.nome">
                </mat-form-field>

                <!-- email -->
                <mat-form-field class="field-full-width" color="accent">
                    <mat-label> Email: </mat-label>
                    <input type="email" name="email" matInput required email [ngModel]="usuario.email">
                </mat-form-field>

                <mat-card-actions align="end">
                    <button mat-flat-button color="warn"> Enviar </button>    
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>