<div>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>
                Template Form     
            </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form>

                <!-- nome -->
                <mat-form-field class="field-full-width" color="accent">
                    <input type="text" required placeholder="Nome" matInput>
                </mat-form-field>

                <!-- email -->
                <mat-form-field class="field-full-width" color="accent">
                    <input type="email" required placeholder="nome@email.com" matInput>
                </mat-form-field>

                <mat-card-actions align="end">
                    <button mat-flat-button color="warn"> Enviar </button>    
                </mat-card-actions>
            </form>
    
        </mat-card-content>
    </mat-card>
</div>