<div>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title> Template Form </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <!-- ngForm = ajude-nos a gerenciar o formulario -->
            <!-- (ngSubmit) = binding de funcao que sera executada no submit -->
            <form #meuForm="ngForm" (ngSubmit)="onSubmit (meuForm);">

                <!-- ngModel = adiciona campo ao ngForm -->

                <!-- nome -->
                <mat-form-field class="field-full-width" color="accent">
                    <mat-label> Nome: </mat-label>

                    <input type="text" name="nome" required
                           #inputNome="ngModel" matInput [ngModel]="usuario.nome">

                    <mat-error *ngIf="!inputNome.valid && inputNome.touched"> 
                        Informe seu nome! 
                    </mat-error>
                </mat-form-field>

                <!-- email -->
                <mat-form-field class="field-full-width" color="accent">
                    <mat-label> Email: </mat-label>

                    <input type="email" name="email" required
                           #inputEmail="ngModel" matInput email 
                           [ngModel]="usuario.email">

                    <mat-error *ngIf="!inputEmail.value" > 
                        Email é obrigatório!
                    </mat-error>

                    <mat-error *ngIf="inputEmail.value && !inputEmail.valid" > 
                        Insira um email válido!
                    </mat-error>
                </mat-form-field>

                <mat-card-actions align="end">
                    <button mat-flat-button color="warn"> Enviar </button>    
                </mat-card-actions>
            </form>
        </mat-card-content>
    </mat-card>
</div>