<div class="container search-table">
    <div class="search-box">
        <div class="row">
            <!-- input -->
            <div class="col-md-9">
                <input type="text" id="myInput" class="form-control" placeholder="Pesquisar libs" [formControl]="queryField">
            </div>
            <div class="col-auto">
                <button type="button" class="btn btn-lg btn-success" (click)="onSearch ();"> Pesquisar </button>
            </div>
        </div>
    </div>

    <div class="search-list">
        <h3> 303 Records Found </h3>
        <table id="myTable" class="table">
            <thead>
                <tr>
                    <th> Title </th>
                    <th> Category </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td> HTML </td>
                    <td> Web Development </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>