<mat-toolbar color="primary">
    <mat-toolbar-row>
        <h1> Rotas Ng2 </h1>
        <span class="menu-spacer"> </span>
        <div>
            <a mat-button routerLink="/login" routerLinkActive="active"> Login </a>
            <a mat-button routerLink="" routerLinkActive="active"> Home </a>
            <a mat-button routerLink="/cursos" routerLinkActive="active"> Cursos </a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>

<!-- permite suporte a rotas -->
<div class="container">
    <router-outlet></router-outlet>
</div>