<nav>
  <mat-toolbar color="primary" class="app-header">
    <span> Angular Forms </span>
    <span>
      <a mat-button mat-stroked-button 
         routerLink="/templateForm" routerLinkActive="active"> 
        Form - Template Driven 
      </a>
    </span>
    <span>
      <a mat-button mat-raised-button 
         routerLink="/dataForm" routerLinkActive="active"> 
        Form - Data Form 
      </a>  
    </span>
  </mat-toolbar>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
