<h4> Exemplo de Pipes </h4>

<!-- pipe | = transforma um valor a ser exibido num template -->
<!-- uppercase = todas letras maiusculas -->
<!-- number = formata numero -->
<!-- currency = formata numero para moeda -->
<!-- date = formata data -->
<!-- json = formata objeto para json -->

<p> Título: {{ livro.titulo | uppercase | camelCase }}</p>
<p> Estrelas: {{ livro.rating | number:'1.1-1' }}</p>
<p> Páginas: {{ livro.numeroPaginas | number}}</p>
<p> Preço: {{ livro.preco | currency:'BRL':'symbol' }}</p>
<p> Data Lançamento: {{ livro.dataLancamento | date:'dd-MM-yyyy' }}</p>
<p> Url: {{ livro.url }}</p>
<br>
<p> Título: {{ livro | json }}</p>

<!-- Exemplo Pipes -->

<input type="text" #novoValor placeholder="Novo Curso">
<button type="button" (click)="addCurso (novoValor.value);"> Add Curso </button>

<br>

<input type="text" [(ngModel)]="filtro" placeholder="Filtrar"/>

<h4> Pipe Puro </h4>
<ul>
    <li *ngFor="let liv of livros | filtroArray:filtro" >
        {{ liv }}
    </li>
</ul>

<h4> Pipe Impuro </h4>
<ul>
    <li *ngFor="let liv of livros | filtroArrayImpuro:filtro" >
        {{ liv }}
    </li>
</ul>

<h4> Maneira correta de filtrar arrays </h4>
<ul>
    <li *ngFor="let liv of obterCursos ()" >
        {{ liv }}
    </li>
</ul>