<!-- Recomendado para arvores de elementos grandes -->
<h2> *ngIf </h2>

<div *ngIf="cursos.length >= 1"> Lista de cursos aqui: </div>
<div *ngIf="cursos.length == 0"> Não existem cursos para serem listados.</div>

<div *ngIf="mostrarCursos"> Lista de cursos aqui: </div>
<div *ngIf="!mostrarCursos"> Não existem cursos para serem listados.</div>

<br>

<button (click)="onMostrarCursos ();" > Mostrar ou esconder cursos </button>

<br>

<!-- Coisas pequenas como mensagem de validacao etc. -->
<h5> Hidden como alternativa: </h5>
<div [hidden]="!mostrarCursos"> Lista de cursos aqui: </div>
<div [hidden]="mostrarCursos"> Não existem cursos para serem listados.</div>
