<article>

    <!-- *ngIf = Recomendado para arvores de elementos grandes -->
    <section>
        <header>
            <h2> *ngIf </h2>
        </header>

        <div class="my-1" *ngIf="cursos.length >= 1"> 
            Lista de cursos aqui: 
        </div>
        <div class="my-1" *ngIf="cursos.length == 0"> 
            Não existem cursos para serem listados.
        </div>

        <div class="my-1" *ngIf="mostrarCursos"> 
            Lista de cursos aqui: 
        </div>
        <div class="my-1" *ngIf="!mostrarCursos"> 
            Não existem cursos para serem listados.
        </div>

        <button class="btn btn-primary my-2" (click)="onMostrarCursos ();" > 
            Mostrar ou esconder cursos 
        </button>
    </section>

    <!-- [hidden] = Coisas pequenas como mensagem de validacao etc. -->
    <section>
        <header>
            <h5> Hidden como alternativa: </h5>
        </header>
        <div [hidden]="!mostrarCursos"> Lista de cursos aqui: </div>
        <div [hidden]="mostrarCursos"> Não existem cursos para serem listados. </div>
    </section>
</article>

<hr>