<div>
    <mat-card class="box">
        <mat-card-header>
            <mat-card-title> Data Form </mat-card-title>
        </mat-card-header>

        <mat-card-content>
            <form [formGroup]="formulario" (ngSubmit)="onSubmit ();">

                <mat-tab-group backgroundColor="accent" color="warn">
                    <mat-tab label="Login">
                
                        <!-- nome -->
                        <mat-form-field class="field-full-width" color="accent">
                            <mat-label> Nome: </mat-label>
                            <input type="text" formControlName="nome" matInput>
                            <mat-error> Nome é obrigatório </mat-error>
                        </mat-form-field>
                
                        <!-- email -->
                        <mat-form-field class="field-full-width" color="accent">
                            <mat-label> Email: </mat-label>
                            <input type="email" formControlName="email" matInput>
                            <mat-error *ngIf="verificaValidTouched ('email');"> Email é obrigatório </mat-error>
                            <mat-error *ngIf="verificaEmailInvalido ();"> Digite um email válido </mat-error>
                            <mat-error *ngIf="formulario.get ('email').status === 'PENDING'"> Validando email... </mat-error>
                            <mat-error *ngIf="formulario.get ('email').status === 'VALID'"> Email válido! </mat-error>
                            <mat-error *ngIf="verificaTemError ('email', 'emailInvalido')"> Email já cadastrado! </mat-error>
                        </mat-form-field>
                
                        <!-- confirmar email -->
                        <mat-form-field class="field-full-width" color="accent">
                            <mat-label> Confirmar Email: </mat-label>
                            <input type="email" formControlName="confirmarEmail" matInput>
                            <mat-error *ngIf="verificaTemError ('confirmarEmail', 'equalsTo');"> Emails não são iguais </mat-error>
                        </mat-form-field>
                    </mat-tab>

                    <mat-tab label="Endereço" formGroupName="endereco">

                        <div >
                            <table class="table-full-width">
                                <tr>
                                    <!-- CEP -->
                                    <td>
                                        <mat-form-field class="field-full-width" color="accent">
                                            <mat-label> CEP: </mat-label>
                                            <input type="text" matInput formControlName="cep" (blur)="consultaCEP ();">
                                            <mat-error> Informe o CEP </mat-error>
                                            <mat-error *ngIf="verificaTemError ('endereco.cep', 'cepInvalido');"> CEP é inválido </mat-error>
                                        </mat-form-field>
                                    </td>

                                    <!-- numero -->
                                    <td>
                                        <mat-form-field class="field-full-width" color="accent">
                                            <mat-label> Número: </mat-label>
                                            <input type="text" matInput formControlName="numero">
                                            <mat-error> Informe o número do local </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                            <!-- complemento -->
                            <mat-form-field class="field-full-width" color="accent">
                                <mat-label> Complemento: </mat-label>
                                <input type="text" matInput formControlName="complemento">
                            </mat-form-field>

                            <!-- rua -->
                            <mat-form-field class="field-full-width" color="accent">
                                <mat-label> Rua: </mat-label>
                                <input type="text" matInput formControlName="rua">
                                <mat-error> Informe a rua </mat-error>
                            </mat-form-field>

                            <table class="table-full-width">
                                <tr>
                                    <!-- bairro -->
                                    <td>
                                        <mat-form-field class="field-full-width" color="accent">
                                            <mat-label> Bairro: </mat-label>
                                            <input type="text" matInput formControlName="bairro">
                                            <mat-error> Informe o bairro </mat-error>
                                        </mat-form-field>
                                    </td>

                                    <!-- cidade -->
                                    <td>
                                        <mat-form-field class="field-full-width" color="accent">
                                            <mat-label> Cidade: </mat-label>
                                            <input type="text" matInput formControlName="cidade">
                                            <mat-error> Informe a cidade </mat-error>
                                        </mat-form-field>
                                    </td>

                                    <!-- estado -->
                                    <td>
                                        <mat-form-field class="field-full-width" color="accent">
                                            <mat-label> Estado: </mat-label>
                                            <mat-select formControlName="estado">
                                                <!-- async = faz o subscribe e unsubscribe o observable 'estados' -->
                                                <mat-option *ngFor="let estado of estados | async;" [value]="estado.sigla">
                                                    {{ estado.nome }}
                                                </mat-option>
                                            </mat-select>
                                            <mat-error> Informe o estado </mat-error>
                                        </mat-form-field>
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </mat-tab>

                    <mat-tab label="Outros">
                
                        <!-- cargo -->
                        <mat-form-field class="field-full-width" color="accent">
                            <mat-label> Cargo: </mat-label>
                            <mat-select formControlName="cargo" [compareWith]="compararCargos"> 
                                <mat-option *ngFor="let cargo of cargos;" [value]="cargo">
                                    {{ cargo.descricao }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Cargo é obrigatório </mat-error>
                        </mat-form-field>
                
                        <!-- tecnologias -->
                        <mat-form-field class="field-full-width" color="accent">
                            <mat-label> Tecnologias: </mat-label>
                            <mat-select formControlName="tecnologias" multiple> 
                                <mat-option *ngFor="let tecnologia of tecnologias;" [value]="tecnologia.nome">
                                    {{ tecnologia.descricao }}
                                </mat-option>
                            </mat-select>
                            <mat-error> Pelo menos uma tecnologia é obrigatória </mat-error>
                        </mat-form-field>

                        <!-- frameworks -->
                        <div class="field-full-width" color="accent">
                            <mat-label> Frameworks </mat-label>
                            <div formArrayName="frameworks" *ngFor="let item of formulario.get ('frameworks').controls; let i = index;">
                                <mat-checkbox [formControlName]="i"> {{ frameworks[i] }} </mat-checkbox>    
                            </div>
                            <mat-error *ngIf="verificaValidTouched ('frameworks');"> Selecione pelo menos 2 opçoes </mat-error>
                        </div>
                
                        <!-- newsletter -->
                        <div class="field-full-width" color="accent">
                            <mat-label> Deseja receber a Newsletter? </mat-label>
                            <mat-radio-group aria-label="Deseja receber a Newsletter" formControlName="newsletter">
                                <mat-radio-button *ngFor="let letter of newsletter;" [value]="letter.valor"> {{ letter.descricao }} </mat-radio-button>
                            </mat-radio-group>
                        </div>
                
                        <!-- termos -->
                        <div class="field-full-width" color="accent">
                            <mat-checkbox formControlName="termos"> Aceito os Termos </mat-checkbox>
                            <mat-error *ngIf="verificaValidTouched ('termos');"> Por favor, aceite os termos </mat-error>
                        </div>
                    </mat-tab>

                </mat-tab-group>

                <div class="field-full-width">
                    <button type="button" mat-flat-button (click)="resetar ();"> Cancelar </button>
                    <button type="button" mat-flat-button (click)="setarCargo ();"> Cargo </button>    
                    <button type="button" mat-flat-button (click)="setarTecnologias ();"> Tecnologias </button>    
                    <button type="submit" mat-flat-button color="warn"> Enviar </button>    
                </div>
            </form>
        </mat-card-content>
    </mat-card>

    <!-- output -->
    <mat-card class="box">
        <mat-card-content>
            <app-form-debug [form]="formulario"></app-form-debug>
        </mat-card-content>
    </mat-card>
</div>