<section>
    <article>
        <header>
            <h3> Two-way data binding </h3>
        </header>
        
        <div>
            <!-- utilizando property-event-binding -->
            <input type="text" class="mx-1" #campoNome [value]="nome" (input)="nome = campoNome.value">

            <!-- utilizando ngModel -->
            <input type="text" class="mx-1" [ngModel]="nome" (ngModelChange)="nome = $event" />

            <!-- utlizando o two-way data binding -->
            <input type="text" class="mx-1" [(ngModel)]="nome" />

            <!-- utlizando o two-way data binding -->
            <input type="text" class="mx-1" bindon-ngModel="nome" />

            <p class="my-3"> Você digitou o nome: {{ nome }}</p>
        </div>

        <!-- two-way data binding com objeto -->
        <div>
            <p> Meu nome é {{ pessoa.nome }} e tenho {{ pessoa.idade }} anos de idade. </p>

            <input type="text" class="mx-1" [(ngModel)]="pessoa.nome">
            <input type="text" class="mx-1" [(ngModel)]="pessoa.idade">
        </div>
    </article>
</section>

<hr>