<article>

    <!-- style binding / two-way data binding -->
    <section class="my-3">
        <header>
            <h3> Styles com property binding (style binding) </h3>
        </header>

        <button type="button" class="btn"
            [style.backgroundColor]="ativo ? 'blue' : 'gray'"
            [style.color]="ativo ? 'white' : 'black'"
            [style.fontWeight]="ativo ? 'bold' : 'normal'"
            [style.fontSize]="tamanhoFonte + 'px'"
            (click)="mudarAtivo ();">
                Mudar atributo ativo
        </button>
    </section>

    <!-- ngStyle -->
    <section class="my-3">
        <header>
            <h3> Styles com diretiva ngStyle </h3>
        </header>

        <button type="button" class="btn"
            [ngStyle]="{
                'backgroundColor': (ativo ? 'blue' : 'gray'),
                'color': (ativo ? 'white' : 'black'),
                'fontWeight': (ativo ? 'bold' : 'normal'),
                'fontSize': (tamanhoFonte + 'px')
            }"
            (click)="mudarAtivo ();">
                Mudar atributo ativo
        </button>
    </section>

    <section>
        <label for="fontInput"> Tamanho da fonte: </label>
        <input type="text" id="fontInput" class="mx-3" [(ngModel)]="tamanhoFonte">
    </section>
</article>

<hr>